# Dependencies
/hospital/hms/vendor/
/hospital/hms/admin/vendor/
/hospital/hms/doctor/vendor/


# Sass cache
/hospital/assets/.sass-cache/
*.s[ac]ss.cache

# Log files
*.log

# SQL files
SQL File/

# Other
Readme.txt
